body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: "Georgia","Times","Times New Roman","serif";
    color: #777777;
}

header {
    background-color: #4aaaa5;
    color: white; 
    font-size: 26px;
    font-weight: bold;
    margin: 0;
    margin-left: 15%;
    margin-right: 60%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center; 
   
}

.APC {
    background-color: #ffffff;
    border-bottom-color: #cccccc;
    margin: 0;
    margin-right: 15%;
    margin-left: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 30px;
    position: absolute;
    
    
    
    
    
  
   
}

#About{
    width: 5px;
    top: 0;
    right: 30%;


    
    
  

}

#Portfolio{
    width: 5px;
    top: 0;
    right: 20%;
    
    
 
    
    

    }

#Contact{
    width: 5px;
    top: 0;
    right: 10%;
   

}


h1 {
   color: #4aaaa5 ;
   margin-left: 15%;
}
